.Post {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-background);
    padding-bottom: 10px;
}

.Post__body{
    flex: 1;
    padding: 10px;
}

.Post__body > img {
    border-radius: 20px;
    max-width: 400px;
}

.Post__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.Post__headerDescription{
    margin-bottom: 10px;
    font-size: 15px;
}

.Post__headerText > h3 {
    font-size: 15px;
    margin-bottom: 5px;
}

.Post__badge{
    font-size: 14px !important;
    color: var(--twitter-color);
}

.Post__headerSpecial{
    font-weight: 600;
    font-size: 12px;
    color: gray;
}

.Post__avatar {
    padding: 20px;
}